@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}


<h1 class="text-center">
    Create Department
</h1>

<form asp-action="Create" class="my-4" enctype="multipart/form-data">


    <partial name="Partial/CreateUpdatePartial">

   </partial>
       <div class="text-center my-3 ">

           <input type="submit" class="btn btn-outline-primary" />
           <a asp-action="Index" class="btn btn-outline-info "> Return to index</a>

       </div>
       



  




</form>

@section Validation {
    <partial name="_ValidationScriptsPartial">

</partial>

}