@model EmployeeViewModel

@inject IDepartmentRepository _departments;
@{
    var departments = new SelectList(_departments.GetAll(), nameof(Department.Id), nameof(Department.Name));
}

<div class="w-75 bg-light rounded p-4 shadow-sm m-auto my-5">


    <div class="my-2">
        <label asp-for="Name">
        </label>
        <input type="text" asp-for="Name" class="form-control w-100" />

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="my-2">
        <label asp-for="Age">
        </label>
        <input asp-for="Age" class="form-control w-100" />
        <span asp-validation-for="Age" class="text-danger"></span>

    </div>

    <div class="my-2">
        <label asp-for="Address">
        </label>
        <input asp-for="Address" class="form-control w-100" />
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>

    <div class="my-2">
        <label asp-for="Salary">
        </label>
        <input asp-for="Salary" class="form-control w-100" />

    </div>


    <div class="my-2">
        <label asp-for="IsActive" class="psosition position-static d-block">
        </label>

        <input asp-for="IsActive" type="checkbox" class=" form-check-input mt-0 position-static m-auto" />

    </div>

    <div class="my-2">
        <label asp-for="Gender">
        </label>
        <span asp-validation-for="Gender" class="text-danger"></span>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
    <option value="@null">-- Select Gender</option>
</select>

    </div>

    <div class="my-2">
        <label asp-for="Email">
        </label>
        <input asp-for="Email" class="form-control w-100" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>


    <div class="my-2">

        <select class="form-control" asp-for="DepartmentId" asp-items="@departments">

            <option value="@null">
                -- Select Department

            </option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>

    </div>


    <div class="my-2">
        <label asp-for="Image" >
        </label>
        <input asp-for="Image" class="form-control-file" />
        <span asp-validation-for="Image" class="text-danger"></span>

    </div>
</div>

