@model Department
@{
    ViewData["Title"] = "Details";
}


<h1 class="my-5">
    Details

</h1>

<div class="w-75 bg-light rounded p-4 shadow-sm m-auto my-5">


    <div class="my-2">
        <label asp-for="Code">
        </label>
        <input type="text" asp-for="Code" class="form-control w-100" readonly/>

    </div>

    <div class="my-2">
        <label asp-for="Name">
        </label>
        <input type="text" asp-for="Name" class="form-control w-100" readonly />

    </div>

    <div class="my-2">
        <label asp-for="DateOfCreation">
        </label>
        <input asp-for="DateOfCreation" class="form-control w-100" readonly />
    </div>
</div>
<div class="text-center my-3 ">

    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-primary"> Edit</a>
    <a asp-action="Index" class="btn btn-outline-info "> Return to index</a>

</div>

