@model UserViewModel



<div class="w-75 bg-light rounded p-4 shadow-sm m-auto my-5">


    <div class="my-2">
        <label asp-for="FName">
        </label>
        <input type="text" asp-for="FName" class="form-control w-100" />

        <span asp-validation-for="FName" class="text-danger"></span>
    </div>

    <div class="my-2">
        <label asp-for="LName">
        </label>
        <input asp-for="LName" class="form-control w-100" />
        <span asp-validation-for="LName" class="text-danger"></span>

    </div>

    <div class="my-2">
        <label asp-for="Email">
        </label>
        <input asp-for="Email" class="form-control w-100" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>

    <div class="my-2">
        <label asp-for="Id">
        </label>
        <input asp-for="Id" class="form-control w-100" />

    </div>


    <div class="my-2">
        <label asp-for="PhoneNumber" class="psosition position-static d-block">
        </label>

        <input asp-for="PhoneNumber" class=" form-check-input mt-0 position-static m-auto" />

    </div>



    <div class="my-2">
        <label asp-for="Roles">
        </label>
        <input asp-for="Roles" class="form-control w-100" />
        <span asp-validation-for="Roles" class="text-danger"></span>

    </div>



</div>

