
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="m-auto"> 

    <p>
        Your password reset link was sent to <a href="https://mail.google.com/mail/u/0/#inbox">your inbox</a>
    </p>
</div>

