@using Microsoft.AspNetCore.Identity

@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<form asp-action="ForgetPassword">

	<input class="text " asp-for="Email" placeholder="Email" required="">
	<span asp-validation-for="Email" class="text-danger"></span>



	<input type="submit" value="Reset password">
</form>

