@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>ResetPassword</h1>

<form asp-action="ResetPassword">

	<input class="text " asp-for="Password" placeholder="password" required="">
	<span asp-validation-for="Password" class="text-danger"></span>

	<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
	<span asp-validation-for="ConfirmPassword" class="text-danger"></span>





	

	<input type="submit" value="Reset password">
</form>

