@model Department

<div class="w-75 bg-light rounded p-4 shadow-sm m-auto my-5">


    <div class="my-2">
        <label asp-for="Code">
        </label>
        <input type="text" asp-for="Code" class="form-control w-100" />

        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="my-2">
        <label asp-for="Name">
        </label>
        <input type="text" asp-for="Name" class="form-control w-100" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <div class="my-2">
        <label asp-for="DateOfCreation">
        </label>
        <input asp-for="DateOfCreation" class="form-control w-100" />
    </div>
</div>